#body {
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 50px;
  border: rgb(197, 197, 197) solid 1px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* nav */
#logo {
  max-width: 150px;
}
#topNav {
  background-color: rgb(251, 255, 238);
}
#searchText {
  width: 300px;
  padding: 8px;
  border-radius: 30px;
  border: 1px solid rgb(153, 153, 153);
  padding-left: 5%;
}
#searchButton {
  border-radius: 30px;
  width: 100px;
  padding: 8px;
  border: white;
  background-color: rgb(126, 156, 65);
  color: white;
}
.categoryButton {
  border-radius: 50%;
  border: white;
  color: black;
  background-color: white;
}
.imageCategory {
  width: 60px;
}

/* sidebar */
#sideContainer {
  max-width: 250px;
}
.sideButton {
  border-bottom: rgb(200, 200, 200) solid 1px;
  margin-top: 10px;
  padding: 10px;
}
.sideBarIcon {
  max-width: 100%;
}
.resultNumber {
  background-color: rgb(208, 208, 208);
  width: 300px;
  padding: 1cap;
  border: 1px rgb(187, 187, 187) solid;
  box-shadow: rgb(165, 165, 165) 1px 1px;
  /* position: absolute; */
  color: rgb(67, 67, 67);
}

/* spinner */
.spinnerHidden {
  visibility: hidden;
}
.spinner-border {
  margin-left: 130px;
  margin-top: 120px;
  position: absolute;
}

/* tab */
#allTab {
  margin-bottom: 30px;
}
.nav a:active {
  color: black;
}
.nav a:visited {
  color: rgb(147, 147, 147);
}
.table {
  max-width: 300px;
}

/* content */
.img-big {
  max-width: 80%;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 4%;
  margin-top: 30px;
  margin-left: 50px;
}
.incomeForm {
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 300px;
}

/* .card {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
} */

/* .img-thumbnail {
  max-width: 500px;
  margin-bottom: 20px;
} */

@media (min-width: 1200px) and (max-width: 1400px), (min-width: 1400px) {
  #allTab {
    margin-left: 100px;
  }
  #information {
    margin-left: 40px;
  }
}

@media (max-width: 1200px) {
  #allTab {
    margin-left: 50px;
  }
  .resultNumber {
    width: 250px;
  }
  #information {
    margin-left: 40px;
  }
}

@media (max-width: 992px) {
  #searchText {
    max-width: 200px;
  }
  #sideContainer {
    max-width: 200px;
  }
  #allTab {
    margin-left: 20px;
  }
  .resultNumber {
    width: 150px;
  }
  #information {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  #logo {
    max-width: 100px;
  }
  .imageCategory {
    width: 40px;
  }
  #allTab {
    margin-left: 20px;
    margin-top: 50px;
  }
  #information {
    margin-left: 10px;
    width: 500px;
  }
  .inforContainer {
    display: flex;
    flex-direction: column;
  }
  #sideContainer {
    max-width: 300px;
  }
  #information {
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  #searchText {
    max-width: 130px;
  }
  #searchButton {
    width: 80px;
  }
  #allTab {
    margin-left: 30px;
    margin-top: 50px;
  }
  #information {
    margin: 0;
    max-width: 100%;
  }
  #contentContainer {
    max-width: 100%;
  }
}
